<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Beep Restaurant</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" />
    <link rel="icon" href="favicon.png" />
    <link rel="apple-touch-icon" href="../public/icons/icon-96x96.png" />
    <link rel="manifest" href="manifest.json" />
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap" rel="stylesheet" />
  </head>
  <body>
    <a href="#maincontent" class="skip-link">Skip To Content</a>
    <header class="header nav-position">
      <div class="header__inner">
        <h1 tabindex="0" class="header__title">Beep Restaurant</h1>
      </div>
      <button aria-label="Menu" tabindex="0" id="menu" class="header__menu">☰</button>

      <nav id="drawer" class="nav">
        <ul class="nav__list">
          <li class="nav__item"><a href="#/list-item" tabindex="0">Home</a></li>
          <li class="nav__item"><a href="#/favorite" tabindex="0">Favorite</a></li>
          <li class="nav__item"><a href="https://www.linkedin.com/in/fathur-rahman-2597a1202/" target="_blank" rel="noreferrer" tabindex="0">About Us</a></li>
        </ul>
      </nav>
    </header>

    <div class="hero">            
      <div class="hero__inner">              
        <h1 class="hero__title">Introducing for Beep Restaurant.</h1>
        <p class="hero__tagline">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Inventore perferendis magnam quas facilis</p>
      </div>
    </div>
    <main id="maincontent"></main>

    <footer>
      <ul>
        <li tabindex="0"><a>Copyright © 2021 - Beep Restaurant</a></li>
      </ul>
    </footer>
  </body>
</html>
